#nav_bar {
    background-color:#373f51;    
    color: #1B1B1E;
}

#Nav_style {
    background-color: #58a4b0;
} 

nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    background-color: #373F51;
}

body {
    background-color: #A9BCD0;
    color: #1B1B1E;
}

#sign_in {
    background-color: #58A4B0;
    color: black;
    font-weight: bold;
    

}

#copyright{
    background-color:  #58a4b0;
    color: black;
}

footer {
    background-color:  #58a4b0;
    color: black;
    /* position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;   /*Height of the footer */
}

a#footerLink{
    color: black;
}

#h1_nav { 
    color: #58A4B0;
    font-weight: bold;
}

#Welcome_message{
    background-color: #D8DBe2;
}

#show_example{
    background-color: #1b1b1e;
    color: #D8DBe2;
}

#tracking{
    background-color: #58A4B0;
    color: #1b1b1e;
}

#packages{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border:1px solid black;
    padding: 5px;
    
}

#packages td, #packages th {
    border: 1px solid #ddd;
    padding: 8px;
  
}

/* Grey every other row */
#packages tr:nth-child(even){background-color: #f2f2f2;}

/* high lights when hovering */
#packages tr:hover {background-color: #A9BCD0;}

/* controls the header items */
#packages th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  #58A4B0;
    color: black;
}
 /* Profile tables Css is below */
#profile_table {
    color: #373F51;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border:1px solid #373F51;
    padding: 5px;
}

/* Invert the profile table */
#profile_table tr { 
    display: block; 
    float: left; 
}

#profile_table th, #profile_table td { 
    display: block;  
    border: 1px solid #ddd;
    padding: 8px;
}

#profile_table th {
    text-align: left;
    background-color:  #58A4B0;
    color: black;
}

form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #58A4B0;
  border-radius: 4px;
  box-sizing: border-box;
}

a {
    text-decoration: none ;
    color:  white;
    font-weight: bold;
}

a#viewMap{
    color:  #373f51;
    font-weight: bold;
    text-decoration: underline;
}
/* Css for the history ajax table */

#history_tab{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border:1px solid black;
    padding: 5px;
    visibility: hidden;
    
}

.overflow-auto {
    max-width: 400px;
    max-height: 350px;
}

#pack_scroll{
    max-width: 900px;
    max-height: 250px;
}

#history_tab td, #history_tab th {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Grey every other row */
#history_tab tr:nth-child(even){background-color: #f2f2f2;}

/* high lights when hovering */
#history_tab tr:hover {background-color: #A9BCD0;}

/* controls the header items */
#history_tab th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  #58A4B0;
    color: white;}

#instructions{
    background-color: #A9BCD0;
    color: #373f51;
}

#num_packages {
    color: #373f51;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    color: black;
    font: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#slogan {
    background-color: #A9BCD0;
    border:2px solid black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    
    
    
}

h1,h2,h3,h4,h5,h6{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#login_prompt {
    background-color: #A9BCD0;
    border:2px solid black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: monospace;
}

/* Css for the map ajax table */

#locations{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border:1px solid black;
    padding: 5px;
    
}

#map_holder {
    height: 400px;
    width: 100%;
}


#map_heading{
    background-color:  #58A4B0;
    border:2px solid black;
}

#locations td, #locations th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color:  #58A4B0;
    color: black;
}

/* Grey every other row */
#locations tr:nth-child(even){background-color: #f2f2f2;}

/* high lights when hovering */
#locations tr:hover {background-color: #5c86b3;}

/* controls the header items */
#locations th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  #afced3;
    color: black;}

#sign_out a{
    text-decoration: underline;
    color: black;
}