<!-- This will serve as the base template for my site. 
The other webpages will inherit this html to ensure the theme is universal -->

<!DOCTYPE html>
<html lang="en">

<head>

    <title>{% block title %}{% endblock %}</title>

    <!-- Load Bootstrap for orginizing webpages-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Load our stylesheet -->
    <link rel="stylesheet" href="../static/css/styles.css">

    {% block head %}{% endblock %}
</head>

<body>
    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
        {{ msg }}
    </p>
    {% endfor %}
    <!-- Create a nav bar for the different pages -->
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid" id="nav_bar">
                <a href="/home">
                    <h1 id="h1_nav">PackTrack</h1>
                </a>
                {% block button %}{% endblock %}
            </div>
        </nav>
    </div>
    <div class="row" id="mid_layout">
        <div class="col-8" id="Welcome_message">
            {% block content %}{% endblock %}
        </div>
        <div class="col-4" id="show_example">
            {% block example %}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <footer class="text-center">
                <!-- Grid container -->
                <div class="container p-4 pb-0">
                    <!-- Section: Social media -->
                    <section class="mb-4" id="social">

                        <!-- Linkedin -->
                        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.linkedin.com/in/shantel-williams-software-developer/" role="button"><i
                                class="bi bi-linkedin"></i> LinkedIn</a>

                        <!-- Github -->
                        <a class="btn  btn-outline-dark btn-floating m-1" href="https://github.com/Tellysone87" role="button"><i
                                class="bi bi-github"></i> Github</a>
                    </section>
                    <!-- Section: Social media -->
                </div>
                <!-- Grid container -->

                <!-- Copyright -->
                <div class="text-center p-3" id="copyright">
                    © 2023 Copyright:
                    <a href="/home" id="footerLink">PackTrack.com</a>
                    <p>For educational use only</p>
                <!-- Copyright -->
            </footer>
        </div>
        </span>
    </div>

    <!-- Bootstrap JavaScript Bundle with Popper (a Bootstrap dependency for popovers) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    {% block script %}{% endblock %}
</body>

</html>