<!-- This is the websites home page-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PackTrackResetEmail</title>
</head>

<body>
    <!-- this is the header for my email. It contains the logo strip and company name -->
    <div>
        <img src="../static/img/packTrackLogo.png" alt="logo of delivery truck and packages" width="150" height="100">
            <h1>PackTrack</h1>
    </div>

    <!-- Setting the row to contain meesage for user to click reset link -->
    <div class="row" id="backgroundBox" style="background-color:lightcyan;">
        <div class="row" id="slogan" style="background-color:cyan;">
            <h1> You've got Packages and we got tracking</h1>
        </div>

        <div class="row" id="ebody">
            <p>You are receiving this email because you requested a email reset link. This reset link is only valid for
                1 hour.
            <div id='row' style="color: darkblue;">
                <a href={{link}} id="email_link">Reset your password here</a><br>
            </div>
            </p><br>
        </div>
    </div>

</body>

</html>