<!-- Extends from the base.html 
this is the websites home page-->
{% extends 'base.html' %}


<!-- Page title name -->
{% block title %}Home Page - PackTrack{% endblock %}


<!-- Puts button onto the nav bar -->
{% block button %}<a href="/login"><button id="sign_in">Register/Sign in</button></a>{% endblock %}

<!-- Placing the body content into the body of page -->
{% block content %}
<div class="row" id="slogan">
    <h1> You've got Packages and we got tracking</h1>
    
</div>

<div class="col-2 offset-2">
    <img src="../static/img/Packages photos.png" alt="a stack of parcel packages" width="500" height="600">
</div>

{% endblock %}

{% block example %}
<h2>Track your packages in one place!</h2>
{% endblock %}
