<!-- Extends from the base.html 
this is the websites home page-->
{% extends 'base.html' %}


<!-- Page title name -->
{% block title %}Home Page - PackTrack{% endblock %}


<!-- Puts button onto the nav bar -->
{% block button %}<a href="/login"><button id="sign_in">Register/Sign in</button></a>{% endblock %}

<!-- Placing the body content into the body of page -->
{% block content %}

<!-- Creating the slogan effect -->
<div class="row">
    <div class="slogan">
        <!-- row to center text -->
        <section class="text-center">
            <div class="row">
                <div class="col-11">
                    <h1 class="mt-3">You've got <span id="package_span">Pack</span>ages</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-2">
                    <h1 class="mb-3">We've got <span id="tracking_span">Track</span>ing</h1>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- <div class="row">
    <div class="col-12" style="padding-right: 0;">
        <div class="pic_box">
            <img src="../static/img/delivery-man-with-packages.png"
                alt="a delivery man balancing a stack of parcel packages">
                <div class="bottom-left">Image by fabrikasimf on Freepik</div>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-12" style="padding-right: 0;">
            <div class="pic_box">
                <img src="../static/img/delivery-man-with-packages.png"
                    alt="a delivery man balancing a stack of parcel packages">
                <div class="bottom-left">Image by fabrikasimf on Freepik</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block example %}
<h2>Track your packages in one place!</h2>
{% endblock %}