<!-- Extends from the base.html 
this is the websites home page-->
{% extends 'base.html' %}

{% block title %}Sign in page - PackTrack{% endblock %}

<!-- Puts button onto the nav bar -->
{% block button %}{% endblock %}

<!-- Placing the body content into the body of page. lighter portion of row -->
{% block content %}
<h1 class="row" id="login_prompt"> Sign in to start tracking</h1><br>
{% endblock %}

<!-- Example blick is the darker half of screen -->
{% block example %}
<h2 id="sign_in_label">Sign In</h2>

<!-- Login fields for registered users -->
<form action="/login" method="POST">

    <!-- Make a 12px spacer below -->
    <div class="mb-4">
        <label for="User login email" class="form-label">Email:</label>
        <input id="User login email" type="email" class="form-control" name="email"  required>
    </div>

    <div class="mb-4">
        <label for="User login password" class="form-label">Password:</label>
        <input id="User login password" type="password" class="form-control" name="password" required>
    </div>

    <div class="mb-4">
        <input type="submit" class="btn btn-primary" value="Submit Form" aria-label="submit login form">
    </div>

    <div class="mb-3" id = "reset_link">
        <a href="/reset_password">Reset your password</a>
    </div>
</form>

<!-- Prompts new users to register -->
<div class="my-4">
<p>Not yet a member?</p>
<a href="/register"><button id="register_button">Register an Account</button></a>
</div>

{% endblock %}