<!-- Extends from the base.html 
this is the websites home page-->
{% extends 'base.html' %}

{% block title %}PackTrack Signin{% endblock %}

<!-- Puts button onto the nav bar -->
{% block button %}{% endblock %}

<!-- Placing the body content into the body of page -->
{% block content %}
<h1> Sign in and start tracking</h1><br>
{% endblock %}

{% block example %}
<h2 id="sign_in_label">Sign In</h2>

<!-- Login fields for registered users -->
<form action="/login" method="POST">
    <p>
        Email <input type="text" name="email">
    </p>

    <p>
        Password <input type="password" name="password">
    </p>

    <p>
        <input type="submit">
    </p>
    <p id = "reset_link">
        <a href="/reset_password.html">Reset your password</a>
    </p>
</form>

<!-- Prompts new users to register -->
<p>Not yet a member? Click the botton below to register.</p>
<a href="/register.html"><button id="register_button">Register</button></a>

{% endblock %}