{% extends 'base.html' %}

{% block title %}Profile Page - PackTrack{% endblock %}

<!-- Puts button onto the nav bar -->
{% block button %}</i><a href="/tracking"><i class="bi bi-truck"></i>Back to the Tracking Page</a>{% endblock %}

{% block content %}
<!-- Displays the users stored profile information -->
<h1>Member Account Information</h1>
<table id="profile_table">
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip Code</th>
    <th>Email</th>
    <tr>
        <td>{{user.fname}}</td>
        <td>{{user.lname}}</td>
        <td>{{user.address}}</td>
        <td>{{user.city}}</td>
        <td>{{user.state}}</td>
        <td>{{user.zipcode}}</td>
        <td>{{user.email}}</td>
    </tr>
</table>

    <div>
        <p id="sign_out"><a href="home/signed_out">Sign Out of your profile</a></p>
    </div>

{% endblock %}

{% block example %}
<!-- User will use this form to update any fields of their profile -->
<h2>Update your account information below:</h2>

<p> Enter new or changed information into the designated field and click the submit button.</p>

<form id="update_profile" action="/profile" method="POST">

    <p>
        <label for="update First Name">First Name:</label>
        <input type="text" name="fname" id="update First Name">
    </p>

    <p>
        <label for="update Last Name">Last Name:</label>
        <input type="text" name="lname"id="update Last Name">
    </p>

    <p>
        <label for="update Street Address">Street Address:</label>
        <input type="text" name="address" id="update Street Address">
    </p>

    <p>
        <label for="update City">City:</label>
        <input type="text" name="city" id="update City">
    </p>

    <p>
        <label for="update State">State:</label>
        <input type="text" name="state" id="update State">
    </p>

    <p>
        <label for="update Zip code">Zip Code:</label>
        <input type="text" name="zipcode" pattern="[0-9]{5}" id="update Zip code">
    </p>

    <p>
        <label for="update Email">Email:</label>
        <input type="email" name="email" id="update Email">
    </p>

    <p>
        <button type="submit" aria-label="submit and update fields">Update</button>
    </p>
</form>
{% endblock %}

{% block script %}<script src = "/static/javascript/confirm.js"></script>{% endblock %}