{% extends 'base.html' %}

{% block title %}Profile Page - PackTrack{% endblock %}

<!-- Puts button onto the nav bar -->
{% block button %}</i><a href="/tracking"><i class="bi bi-truck"></i>Back to the Tracking Page</a>{% endblock %}

{% block content %}
<!-- Displays the users stored profile information -->
<div class="row" id="member_account">
    <div class="col-12">
        <h1>Member Account Information</h1>
    </div>
    <div class="row">
        <div class="co1-12" id="profile_box">
            <table id="profile_table">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Email</th>
                <tr>
                    <td>{{user.fname}}</td>
                    <td>{{user.lname}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.city}}</td>
                    <td>{{user.state}}</td>
                    <td>{{user.zipcode}}</td>
                    <td>{{user.email}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div>
        <p id="sign_out"><a href="home/signed_out">Sign Out of your profile</a></p>
    </div>
</div>



{% endblock %}

{% block example %}
<!-- User will use this form to update any fields of their profile -->
<h2>Update your account information below:</h2>

<p> Enter new or changed information into the designated field and click the submit button.</p>

<form id="update_profile" action="/profile" method="POST">

    <div class="my-1">
        <label for="update First Name" class="form-label">First Name:</label>
        <input type="text" name="fname" id="update First Name" class="form-control">
    </div>

    <div class="my-1">
        <label for="update Last Name" class="form-label">Last Name:</label>
        <input type="text" name="lname" id="update Last Name" class="form-control">
    </div>

    <div class="my-1">
        <label for="update Street Address" class="form-label">Street Address:</label>
        <input type="text" name="address" id="update Street Address" class="form-control">
    </div>

    <div class="my-1">
        <label for="update City" class="form-label">City:</label>
        <input type="text" name="city" id="update City" class="form-control">
    </div>

    <div class="my-1">
        <label for="update State" class="form-label">State:</label>
        <input type="text" name="state" id="update State" class="form-control">
    </div>

    <div class="my-1">
        <label for="update Zip code" class="form-label">Zip Code:</label>
        <input type="text" name="zipcode" pattern="[0-9]{5}" id="update Zip code" class="form-control">
    </div>

    <div class="my-1">
        <label for="update Email" class="form-label">Email:</label>
        <input type="email" name="email" id="update Email" class="form-control">
    </div>

    <div class="my-1">
        <button type="submit" aria-label="submit and update fields" class="btn btn-primary">Update</button>
    </div>
</form>
{% endblock %}

{% block script %}
<script src="/static/javascript/confirm.js"></script>{% endblock %}