{% extends 'base.html' %}

{% block title %}Reset Password Request Page - PackTrack{% endblock %}

{% block button %}<a href="/register">Back to the Register page</a>{% endblock %}

{% block content %}
<div id="reset_message">
    <form id="reset" action="/reset_password" method="POST">
        <p id="rmessage">Enter the email address associated with your account and we'll send you a link to reset your password.</p>
        <p>
            <label for="email_field">Email:</label>
            <input type="email" name="email" id="email_field" required>
        </p>
        <p>
            <input type="submit" aria-label="Submit email">
        </p>
    </form>
</div>
{% endblock %}

{% block example %}{% endblock %}

{% block script %}<script src = "/static/javascript/listener_file.js"></script>{% endblock %}