<!-- Extends from the base.html 
this is the websites home page-->
{% extends 'base.html' %}

{% block title %}Set New Password{% endblock %}

<!-- Puts button onto the nav bar -->
{% block button %}{% endblock %}

{% block content %}
<h1> Set your new password</h1><br>
{% endblock %}

{% block example %}
<h2 id="reset_label">Reset Password</h2>

<!-- form to reset password -->
<form action="/set_new_password" method="POST">
    <p>
        Your email<input type="text" name="email" required>
    </p>
    <p>
        New Password <input type="password" name="new_password" required>
    </p>

    <p>
        Confirm New Password <input type="password" name="password" required>
    </p>

    <p>
        <input type="submit">
    </p>
</form>

{% endblock %}