<!-- Extends from the base.html 
this is the websites home page-->
{% extends 'base.html' %}

{% block title %}Set a New Password - PackTrack{% endblock %}

<!-- Puts button onto the nav bar -->
{% block button %}{% endblock %}

{% block content %}
<h1> Set a new password for your account</h1><br>
{% endblock %}

{% block example %}
<h2 id="reset_label">Reset Password form</h2>

<!-- form to reset password -->
<form action="/set_new_password" method="POST">
    <p>
        <label for="email">Your current email:</label>
        <input type="email" name="email" required>
    </p>

    <p>
        <label for="new password">Enter a New Password:</label>
        <input type="password" name="new_password" required>
    </p>

    <p>
        <label for="new password">Confirm your New Password:</label>
        <input type="password" name="password" required>
    </p>

    <p>
        <input type="submit">
    </p>
</form>

{% endblock %}