<!-- Extends from the base.html 
this is the websites home page-->
{% extends 'base.html' %}

{% block title %}Set a New Password - PackTrack{% endblock %}

<!-- Puts button onto the nav bar -->
{% block button %}{% endblock %}

{% block content %}
<h1> Set a new password for your account</h1><br>
{% endblock %}

{% block example %}
<h2 id="reset_label">Reset Password form</h2>

<!-- form to reset password -->
<form action="/set_new_password" method="POST">
    <div class="my-1">
        <label for="current email" class="form-label">Your current email:</label>
        <input type="email" name="email" id="current email" class="form-control" required>
    </div>

    <div class="my-1">
        <label for="new password" class="form-label">Enter a New Password:</label>
        <input type="password" name="new_password" id="new password" class="form-control" required>
    </div>

    <div class="my-1">
        <label for="confirm new password" class="form-label">Confirm your New Password:</label>
        <input type="password" name="password" id="confirm new password" class="form-control" required>
    </div>

    <div class="my-1">
        <input type="submit" aria-label="Submit new password" class="btn btn-primary">
    </div>
</form>

{% endblock %}