{% extends 'base.html' %}

{% block title %}Package Tracking - PackTrack{% endblock %}

<!-- Puts button onto the nav bar -->
{% block button %}<a href="/profile"><i class="bi bi-person"></i>User profile page</a>{% endblock %}


{% block content %}
<h1 id="num_packages"><span> Tracked packages: {{packages|length}}</span></h1><br>
<a href="/map">View map</a>

<div id="instructions" class="row">
    <div class="col-11">
        <h4>To view the package history:</h4>
        <ol>
            <li>click the package history button in the associated row</li>
            <li>click the history button again to remove the history table before moving to a new package</li>
        </ol>
    </div>
</div>

<!-- create table for holding package data -->
<p>The table below displays the lastest status of the package associated with the tracking number.</p>
<div class="overflow-auto" id="pack_scroll">
    <div class="row">
    <table id="packages" class="col-12">
        <th>Tracking</th>
        <th>Status</th>
        <th>Date Shipped</th>
        <th>Location</th>
        <th>Carrier</th>
        <th>history</th>
        {% for package in packages %}
        <tr>
            <td id="track_num">{{package.tracking_number}}</td>
            <td>{{package.status}}</td>
            <td>{{package.shipped_date.strftime('%m-%d-%Y')}}</td>
            <td>{{package.location}}</td>
            <td>{{package.carrier}}</td>
            <td><button id="more_info" data-tracking="{{package.tracking_number}}">Package History</button></td>
        </tr>

        {% endfor %}
    </table>
</div></div>

{% endblock %}

<!-- #prompt user for tracking number -->
{% block example %}
<div class="row">
    <form class="col-12" id="tracking" action="/tracking" method="POST">
        <p>
            <label for="Package Tracking Number">Enter a tracking number into the field:</label>
            <input type="text" name="tracking" required>
            <input type="submit">
        </p>
    </form>
</div>

<!-- Create a new table to display all status updates on click -->
<div class="row">
    <div class="overflow-auto">
        <Table class="col-12" id="history_tab">

        </Table>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/javascript/more_info.js"></script>{% endblock %}